.navbar-inverse {
    background-color: #9f2626;
    border-color: #080808;
}

.container {
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center; 
}

.container::before {
    content: none;
} 

.container::after {
    content: none;
} 

.container h1 {
    grid-column: 1;
    grid-row: 1;
}

img {
    grid-column: 1;
    grid-row: 2;
    max-width: 200px;
    height: auto;
}

.welcome {
    grid-column: 1;
    grid-row: 3;
    font-size: 24px;
}

.project_container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    justify-items: center;
    text-align: center; 
}

.project_center {
    grid-column: 2;
}

img.golfshop {
    max-width: 100%;
    height: auto;   
}

@media screen and (max-width: 375px) {

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 65% 20%;
    align-items: center;
    justify-items: center;
    text-align: center; 
}

}
